:root {
    --negro: #393939;
    --blanco: #ffffff;
    --tipo-principal: 'Lora', serif;
}

.body-container {
    background-color: var(--negro);
    color: var(--blanco); 

    height: 100%;
    width: 80%;
    margin: 0px auto;

    background-color: #2b2b2b; 

   
}

.game-title {
    color: #779e88; 
    font-family: var(--tipo-principal);
    font-size: 3vw; /* Usar una unidad de viewport para que se ajuste automáticamente */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

.game-board {
    background-color: #2b2b2b; 
    max-width: 100%;
 
    display: flex;
    justify-content: center;
  

}

.cell {
    background-color: #b6edcf; 
    color: #393939; 
    text-align: center;
    max-width: auto; /* Ajuste flexible basado en porcentajes */
    height: 10vw; /* Altura flexible basada en la altura del viewport */
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.cell:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(182, 237, 207, 0.2); 
}

.shape {
    height: 80%;
    width: auto;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}


/* Media queries para pantallas más pequeñas */
@media (max-width: 1200px) {
    .game-title {
        font-size: 2.5rem; /* Ajustar el tamaño del título */
    }
    .cell{
        height: 20vw;
    }
    
}
@media (max-width: 768px) {
    .game-title {
        font-size: 2.5rem; /* Ajustar el tamaño del título */
    }
    .cell{
        height: 25vw;
    }
    
}

@media (max-width: 480px) {
    .game-title {
        font-size: 2rem; /* Reducir el tamaño del título */
    }
    .cell{
        height: 30vw;
    }

}