
.body-container {
    height: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #f0f0f0;

}


.game-title {
    margin: 20px 20px; 
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4em;
}


.game-board {
    flex: 1;
    width: 80%;
    height: 100%;
    border-spacing: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.cell {
    background-color: white;
    text-align: center;
    padding: 10px;
}

.shape {
    width: 60%;

}
